h1 {
  font-size: 46px;
  font-family: 'Cabin Sketch', cursive;
  /* margin: 20px 0;
  text-align: center;
  line-height: 50px; */
}
p{
  font-family: 'Open Sans', sans-serif;
  /* line-height: 22px; */
  font-size: 30px;
  /* width: 500px;
  margin: 20px 250px; */
}
ul li a{
  color: black;
}
a{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
a:visited {
    color: black;
}
a:hover{
  color: black;
  text-decoration: underline;
}
